#sidebar {
	width: 170px;
	height: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(menu.gif);
	background-repeat: no-repeat;
}
#sidebar a {
	text-decoration: none;
	color: #0000AA ;
	padding: 4px;
}
#sidebar a:hover {
	text-decoration: underline;
	color: #0000FF;
	padding: 4px;
}

#sidebarSection {
	color: #24618E;
}
#sidebarSection ul {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	margin: 0px;
	list-style: none;
}
#sidebarSection li {
	padding: 1px;
}
#sidebarSection li img {
	padding: 0px 0px 1px 2px;
}

#sidebarNav {
	font-size: 10px;
	padding: 2px;
}
body tr td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.mainTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	margin: 4px;
	color: #0000CC;
}
.sectionTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #24618E;
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin: 2px;
}
.fnt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.sfnt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.sfntgray {	font-size: 9px;
	color: #333333;
}
.italic {	color: #333333;
	font-style: italic;
}
.red {color: #FF0000}
.blue {color: #0000CC}
.darkblue {color: #000099}
.darkgreen {color: #006600}
.odd {
	background-color: #EEEEEE;
}
.even {
	background-color: #FFFFFF;
}
.justify {
	text-align: justify;
}
